<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clusterifyai_api>
            <general>
                <api_base_url>https://api.Clusterify.AI</api_base_url>
                <api_login_path>/token</api_login_path>
                <token_expiry>15</token_expiry>
            </general>
        </clusterifyai_api>
        <clusterifyai_chatbot>
            <base>
                <enabled>0</enabled>
            </base>
            <connection>
                <loader_js_path>/static/clusterify-chatbot.bundle.min.js</loader_js_path>
                <status_check_path>/v1/chatbot_status</status_check_path>
                <uuid></uuid>
            </connection>
            <display_settings>
                <show_on_home>1</show_on_home>
                <show_on_cms>1</show_on_cms>
                <show_on_category>1</show_on_category>
                <show_on_product>1</show_on_product>
                <show_on_checkout>0</show_on_checkout>
                <show_on_account>0</show_on_account>
                <show_on_search>1</show_on_search>
                <show_on_cart>0</show_on_cart>
                <show_on_contact>1</show_on_contact>
                <show_on_login>0</show_on_login>
                <show_on_register>0</show_on_register>
                <show_on_forgotpassword>0</show_on_forgotpassword>
                <show_on_advanced_search>1</show_on_advanced_search>
                <show_on_compare>0</show_on_compare>
                <show_on_wishlist>0</show_on_wishlist>
                <show_on_other>0</show_on_other>
            </display_settings>
            <guide_attributes>
                <enable_guide_products>0</enable_guide_products>
                <enable_guide_categories>0</enable_guide_categories>
                <enable_guide_cms>0</enable_guide_cms>
            </guide_attributes>
        </clusterifyai_chatbot>
    </default>
</config>
